<div>
    <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
</div>

<h5 class="text-uppercase">Available rooms</h5>

<hr class="style1">

<ul>
    <li *ngFor="let room of availableRooms.response">{{room.roomNumber}}</li>
</ul>

<div class="modal-footer mt-3">
    <button type="button" class="btn btn-primary" (click)="newReservation()" cdkFocusInitial>New reservation</button>
    <button type="button" class="btn btn-primary" (click)="close()">Group reservation</button>
    <button type="button" class="btn btn-danger" (click)="close()">Cancel</button>
</div>