<app-sidebar></app-sidebar>

<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#NewReservationModal">New Reservation</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#EditReservationModal">Edit Reservation</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link" data-toggle="modal" data-target="#CheckReservationModal">Booking Check</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link text-primary"><i class="fa fa-check" aria-hidden="true"></i>
                    Check in</a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a href="#" class="nav-link text-danger"><i class="fa fa-sign-out" aria-hidden="true"></i>
                        Check out</a>
            </li>
        </ul>



        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">

            <!-- Notifications Dropdown Menu -->
            <li class="">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <span>Ramez Bazna</span>
                    </a>
                </li>

            <!-- Notifications Dropdown Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-danger navbar-badge">15</span>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">15 Notifications</span>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-envelope mr-2"></i> 4 new messages
                        <span class="float-right text-muted text-sm">3 mins</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-users mr-2"></i> 8 friend requests
                        <span class="float-right text-muted text-sm">12 hours</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-file mr-2"></i> 3 new reports
                        <span class="float-right text-muted text-sm">2 days</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                </div>
            </li>


            <!-- Settings Menu -->
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa fa-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <span class="dropdown-item dropdown-header">Settings</span>
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="['/contactus']" class="dropdown-item">
                        <i class="fa fa-envelope mr-2"></i> Contact Us
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-info-circle mr-2"></i> About HMS
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-user mr-2"></i> User Settings
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">
                        <i class="fa fa-sign-out mr-2 text-danger"></i>
                        <span class="text-danger">Log out</span>
                    </a>
                </div>
            </li>

        </ul>
    </nav>
    <!-- /.navbar -->


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">

        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">





                <!-- /.row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Reservations Table</h3>

                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>ReservationID</th>
                                            <th>Organization</th>
                                            <th>Check-in</th>
                                            <th>Check-out</th>
                                            <th>Nights</th>
                                            <th>Rooms</th>
                                            <th>Guests</th>
                                            <th>Status</th>
                                            <th>Comment</th>



                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let reservation of reservations">
                                            <td>{{reservation.code}}</td>
                                            <td>SARC</td>
                                            <td>11-7-2019</td>
                                            <td>13-7-2019</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>5</td>
                                            <td><span class="badge badge-info">Arrived</span></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>20192509-1</td>
                                            <td>SARC</td>
                                            <td>11-7-2019</td>
                                            <td>13-7-2019</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>5</td>
                                            <td><span class="badge badge-danger">Canceled</span></td>
                                            <td></td>
                                        </tr>


                                        <tr>
                                            <td>20192509-1</td>
                                            <td>SARC</td>
                                            <td>11-7-2019</td>
                                            <td>13-7-2019</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>5</td>
                                            <td><span class="badge badge-warning">Pending</span></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->





            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->



<!-- Modals -->
<!-- NewReservationModal -->
<div class="modal fade bd-example-modal-xl" id="NewReservationModal" tabindex="-1" role="dialog" aria-labelledby="NewReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="NewReservationModalLabel">
                    <i class="fa fa-plus" aria-hidden="true"></i> New Reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">



                <!-- Guest Information -->
                <label class="text-uppercase">Guest Information</label>

                <div class="row mt-2">

                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">First Name</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="First Name" title="First name">
                        </div>
                    </div>


                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Last Name</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-user"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Last Name" title="Last name">
                        </div>
                    </div>

                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Organization</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-building-o"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Organization" title="Organization">
                        </div>
                    </div>

                </div>

                <div class="row mt-2">

                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Gender</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-venus-mars"></i></div>
                            </div>
                            <select class="browser-default custom-select">
                                    <option selected>Male</option>
                                    <option >Female</option>
                                  </select>
                        </div>
                    </div>


                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Nationality</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-flag"></i></div>
                            </div>
                            <select class="browser-default custom-select">
                                    <option selected>Syrian</option>
                                    <option>Iraqi</option>
                                    <option>Iran</option>

                                  </select>
                        </div>
                    </div>

                        <div class="col-auto">
                                <label class="sr-only" for="Birthdate">ID Number</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                                    </div>
                                    <input type="number" class="form-control" id="Birthdate" placeholder="ID Number" title="ID Number">
                                </div>
                            </div>


                            <button type="button" class="btn">Attach file</button>


                        </div>


                        
                        <!-- //Guest Information -->


                        
                        <hr class="style1">



                        <!-- Reservation Details -->
                        <label class="text-uppercase">Reservation Details</label>

                        <div class="row mt-2">

                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Check-in</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-check"></i></div>
                                    </div>
                                    <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Check-in" title="Check-in">
                                </div>
                            </div>


                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Ckeck-out</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-sign-out"></i></div>
                                    </div>
                                    <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Ckeck-out" title="Ckeck-out">
                                </div>
                            </div>

                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Nights</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-moon-o"></i></div>
                                    </div>
                                    <input readonly type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nights" title="Nights">
                                </div>
                            </div>

                        </div>


                        <div class="row mt-2">

                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Room Type</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-bed"></i></div>
                                    </div>
                                    <select class="browser-default custom-select">
                              <option selected>Room Type</option>
                              <option >Female</option>
                            </select>
                        </div>
                        </div>


                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Room Number</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-key"></i></div>
                                    </div>
                                    <select class="browser-default custom-select">
                              <option selected>Room Number</option>
                              <option >Female</option>
                            </select>

                                </div>
                            </div>

                        </div>
                         <!-- // Reservation Details -->

                         <hr class="style1">


                         <!-- Financial Details -->
                         <label class="text-uppercase text-danger">Financial Details</label>


                         <div class="row mt-2">

                             <div class="col-auto">
                                 <label class="sr-only" for="inlineFormInputGroup">Discount</label>
                                 <div class="input-group mb-2">
                                     <div class="input-group-prepend">
                                         <div class="input-group-text">%</div>
                                     </div>
                                     <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="Discount" title="Discount">
                                 </div>
                             </div>

                             <div class="col-auto">
                                 <label class="sr-only" for="inlineFormInputGroup">Cost</label>
                                 <div class="input-group mb-2">
                                     <div class="input-group-prepend">
                                         <div class="input-group-text">%</div>
                                     </div>
                                     <input readonly type="number" class="form-control" id="inlineFormInputGroup" placeholder="Cost" title="Cost">
                                 </div>
                             </div>


                         </div>

                         <!-- // Financial Details -->


                        <div class="modal-footer mt-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
    </div>
</div>
<!-- //NewReservationModal -->


<!-- CheckReservationModal -->
<div class="modal fade bd-example-modal-xl" id="CheckReservationModal" tabindex="-1" role="dialog" aria-labelledby="CheckReservationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CheckReservationModalLabel">
                    <i class="fa fa-question" aria-hidden="true"></i> Chack Reservation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">


                        <!-- Reservation Check -->
                        <label class="text-uppercase text-danger">Reservation Check</label>

                        <div class="row mt-2">

                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Check-in</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-check"></i></div>
                                    </div>
                                    <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Check-in" title="Check-in">
                                </div>
                            </div>


                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Ckeck-out</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-sign-out"></i></div>
                                    </div>
                                    <input type="date" class="form-control" id="inlineFormInputGroup" placeholder="Ckeck-out" title="Ckeck-out">
                                </div>
                            </div>

                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Nights</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-moon-o"></i></div>
                                    </div>
                                    <input readonly type="text" class="form-control" id="inlineFormInputGroup" placeholder="Nights" title="Nights">
                                </div>
                            </div>

                        </div>


                        <div class="row mt-2">

                            <div class="col-auto">
                                <label class="sr-only" for="inlineFormInputGroup">Adults</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-users"></i></div>
                                    </div>
                                    <input type="number" class="form-control" id="inlineFormInputGroup" placeholder="Adults" title="Adults">
                                </div>
                            </div>


                        </div>
                         <!-- // Reservation Details -->


                        <div class="modal-footer mt-3">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
    </div>
</div>

<!-- //CheckReservationModal -->

