<div class="wrapper">

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index.html" class="brand-link">
            <img src="/assets/img/HMS_logo.png" class="brand-image elevation-3" style="opacity: .8">
            <span class="brand-text font-weight-light">Hotel Management System</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="mt-3 mb-3 mr-1 ml-1 d-flex">
                <div class="image">
                    <a target="_blank" href="https://www.facebook.com/CiteaApartHotel">
                        <img src="/assets/img/Hotel_logo.jpg" class="img-thumbnail img-rounded elevation-2"></a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link">
                            <i class="nav-icon fa fa-home"></i>
                            <p>
                                Reception
                            </p>
                        </a>
                    </li>

                    <!-- <li class="nav-item">
                        <a [routerLink]="['/calendar']" class="nav-link">
                            <i class="nav-icon fa fa-calendar"></i>
                            <p>
                                Calendar
                            </p>
                        </a>
                    </li> -->


                    <li class="nav-item">
                        <a [routerLink]="['/guests']" class="nav-link">
                            <i class="nav-icon fa fa-user"></i>
                            <p>
                                Guest list
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a [routerLink]="['/groups']" class="nav-link">
                            <i class="nav-icon fa fa-group"></i>
                            <p>
                                Groups
                            </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a [routerLink]="['/rooms']" class="nav-link">
                            <i class="nav-icon fa fa-key"></i>
                            <p>
                                Rooms
                            </p>
                        </a>
                    </li>

                    <li class="nav-header">Reports</li>
                    <li class="nav-item">
                        <a [routerLink]="['/dashboard']" class="nav-link">
                            <i class="nav-icon fa fa-pie-chart"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/dashboard']" class="nav-link">
                            <i class="nav-icon fa fa-file"></i>
                            <p>Static Reports</p>
                        </a>
                    </li>

                    <li class="nav-header">Management</li>
                    <li class="nav-item">
                        <a [routerLink]="['/dashboard']" class="nav-link">
                            <i class="nav-icon fa fa-lock"></i>
                            <p>Permissions</p>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->

            

            <footer class="sidebar-footer">
                <a class="mr-4" onclick="window.location.reload();"><i class="fa fa-refresh"></i></a>
                <a class="mr-4" id="btnFullscreen"><i class="fa fa-expand"></i></a>
                <a class="mr-4" onclick="Window.minimize();"><i class="fa fa-window-restore"></i></a>
                <a class="mr-4" onclick=""><i class="fa fa-times"></i></a>

            </footer>
                <!-- /.card-footer -->
        
        
        
        </div>
        <!-- /.sidebar -->

        

    </aside>
    
</div>