<div>
    <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<h5 class="text-uppercase">New Group</h5>
<hr class="style1">

<aw-wizard>
    <aw-wizard-step>
        <form #addGroup="ngForm" (ngSubmit)="AddGroup()">
            <div class="row">

                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Group Type</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-address-book"></i></div>
                        </div>
                        <select required title="Group Type" (change)="resetRooms()" class="browser-default custom-select" name="GroupType" [(ngModel)]="reservation.RoomType">
                            <option selected value="1">Tourism</option>
                            <option value="2">VIP</option>
                        </select>
                    </div>
                </div>
                <div class="col-3">
                    <label class="sr-only" for="inlineFormInputGroup">GroupID</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                        </div>
                        <input (change)="resetRooms()" type="text" required placeholder="GroupID" title="GroupID" cdkFocusInitial name="GroupID" [(ngModel)]="reservation.StartDate" #checkin="ngModel" [class.is-invalid]="checkin.invalid && checkin.touched" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <label class="sr-only" for="inlineFormInputGroup">Group Name</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                        </div>
                        <input type="text" required placeholder="Group Name" title="Group Name" cdkFocusInitial name="GroupName" [(ngModel)]="reservation.StartDate" #checkin="ngModel" [class.is-invalid]="checkin.invalid && checkin.touched" class="form-control">
                    </div>
                </div>
                <div class="col-3">
                    <label class="sr-only" for="inlineFormInputGroup">Company</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-bed"></i></div>
                        </div>
                        <select required title="Company" (change)="resetRooms()" class="browser-default custom-select" name="Company" [(ngModel)]="reservation.RoomType">
                            <option selected value="1">Tourism</option>
                            <option value="2">VIP</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button type="button" (click)="Next()" class="btn btn-primary" [disabled]="!enableNextStep" awNextStep>Next Step</button>
            </div>
        </form>
    </aw-wizard-step>

    <aw-wizard-step awOptionalStep>
        <form #reservationDetailForm="ngForm" (ngSubmit)="SaveReservation()">

            <div class="row mt-2">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">First Name</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input cdkFocusInitial required type="text" placeholder="First Name" title="First name" name="firstName" [(ngModel)]="personInfo.FirstName" #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched" class="form-control">
                    </div>
                </div>

                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Last Name</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                        </div>
                        <input type="text" required placeholder="Last Name" title="Last name" name="lastName" [(ngModel)]="personInfo.LastName" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched" class="form-control">
                    </div>
                </div>

                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Organization</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-building-o"></i></div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Organization" title="Organization">
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Gender</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-venus-mars"></i></div>
                        </div>
                        <select name="gender" class="browser-default custom-select" [(ngModel)]="personInfo.Gender" [value]="1">
                            <option value="true" selected>Male</option>
                            <option value="false">Female</option>
                        </select>
                    </div>
                </div>

                <div class="col-auto">
                    <label class="sr-only" for="inlineFormInputGroup">Nationality</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-flag"></i></div>
                        </div>
                        <select class="browser-default custom-select" name="nationality" [(ngModel)]="personInfo.Nationality">
                            <option value="0">Syrian</option>
                        </select>
                    </div>
                </div>


                <div class="col-auto">
                    <label class="sr-only" for="Birthdate">ID Number</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-id-card"></i></div>
                        </div>
                        <input type="number" required class="form-control" placeholder="ID Number" title="ID Number" name="idNumber" [(ngModel)]="personInfo.IdNumber" #idNumber="ngModel" [class.is-invalid]="idNumber.invalid && idNumber.touched">
                    </div>
                </div>
                <button type="button" class="btn btn-outline-dark mb-2 ml-2" (click)="AddGuest()" [disabled]="!reservationDetailForm.valid">AddGuest</button>

            </div>


            <div class="row mt-2">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Organization</th>
                            <th>Gender</th>
                            <th>Nationality</th>
                            <th>IdNumber</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let person of persons">
                            <td>{{person.FirstName}}</td>
                            <td>{{person.LastName}}</td>
                            <td>Organization</td>
                            <td>{{person.Gender}}</td>
                            <td>{{person.Nationality}}</td>
                            <td>{{person.IdNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="modal-footer mt-3">
                <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
                <button type="button" class="btn btn-primary" awPreviousStep>Previous Step</button>
                <button type="submit" class="btn btn-primary" [disabled]="this.persons.length == 0">Finish</button>
            </div>
        </form>

    </aw-wizard-step>


</aw-wizard>
