<div>
  <button type="button" class="close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<h5 class="text-uppercase">Group Reservation</h5>

<hr class="style1">

<aw-wizard>
  <aw-wizard-step stepTitle="Reservation details">
    <form #checkReservationForm="ngForm" (ngSubmit)="checkReservation()">
      <div class="row mt-2">
        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Check-in</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-check"></i></div>
            </div>
            <input type="date" required placeholder="Check-in" title="Check-in" cdkFocusInitial name="checkIn"
              [(ngModel)]="reservation.StartDate" #checkin="ngModel"
              [class.is-invalid]="checkin.invalid && checkin.touched" class="form-control">
          </div>
        </div>
        <div class="col-auto">
          <label class="sr-only">Ckeck-out</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-sign-out"></i></div>
            </div>
            <input type="date" required placeholder="Ckeck-out" title="Ckeck-out" name="checkOut"
              [(ngModel)]="reservation.EndDate" #checkout="ngModel"
              [class.is-invalid]="checkout.invalid && checkout.touched" class="form-control">
          </div>
        </div>

        <div class="col-auto">
          <label class="sr-only">Guests</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fa fa-users"></i></div>
            </div>
            <input type="number" required (change)="ValidateNumber(adults.value)" id="inlineFormInputGroup"
              placeholder="Adults" title="Adults" name="adults" [(ngModel)]="reservation.Adults" #adults="ngModel"
              [class.is-invalid]="adultsHasError && adults.touched" class="form-control">
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-outline-secondary " [disabled]="!checkReservationForm.valid">Check
            Available Rooms</button>
        </div>

        <div *ngIf="availableRooms">
          You have {{availableRooms?.length}} rooms for this reservation
        </div>
      </div>
    </form>
    <div class="modal-footer mt-3">
      <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
      <button type="button" class="btn btn-primary" (click)="Next()"
        [disabled]="availableRooms == undefined || availableRooms?.length === 0" awNextStep>Next Step</button>
    </div>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="Select a group">
    <div class="col-auto">
      <label>Select a group</label>
      <div class="input-group mb-2">
        <select class="browser-default custom-select" [(ngModel)]="group">
          <option *ngFor="let group of groups" [ngValue]="group">
            {{group.name}}
          </option>
        </select>

      </div>
      <div class="col-auto">
        <button type="button" class="btn btn-primary" (click)="AddNewGroup()">Add Group</button>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" (click)="Next()"
          [disabled]="availableRooms == undefined || availableRooms?.length === 0" awNextStep>Next
          Step</button>
      </div>
    </div>
  </aw-wizard-step>

  <aw-wizard-step stepTitle="Guest details" awOptionalStep>
    <form #groupReservationForm="ngForm" (ngSubmit)="SaveReservation()">
      <button type="button" class="btn btn-outline-dark mb-2 ml-2" (click)="AddPerson()"
        [disabled]="!groupReservationForm.valid">Add new person</button>
      <div class="row mt-2">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Persons Table</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover table-wrap">
                  <thead>
                    <tr>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>ID Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of personsList" (click)="setSelectedPerson(person)"
                      [class.active]="person.id === activeState">
                      <td>{{ person.firstName }}</td>
                      <td>{{ person.lastName }}</td>
                      <td>{{ person.idNumber }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Room Number</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-key"></i></div>
              </div>
              <select title="Room Number" class="browser-default custom-select" (change)="enableNextStep = true"
                name="roomNumber" [(ngModel)]="reservation.RoomId">
                <option *ngFor="let availableRoom of availableRooms | orderBy: 'floorNumber' | orderBy: 'roomNumber'"
                  value="{{availableRoom.id}}">
                  Floor : {{availableRoom.roomNumber}} - Room number : {{availableRoom.roomNumber}}
                </option>
              </select>
            </div>
          </div>

          <button class="btn btn-danger btn-sm" type="button" (click)="AddSelectedPerson()">
            Add
          </button>
        </div>
      </div>

      <div class="row mt-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>First name</th>
              <th>Last name</th>
              <th>Gender</th>
              <th>Nationality</th>
              <th>IdNumber</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of selectedPersons">
              <td>{{person.firstName}}</td>
              <td>{{person.lastName}}</td>
              <td>{{person.gender}}</td>
              <td>{{person.nationality}}</td>
              <td>{{person.idNumber}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row mt-2">

        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Discount</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">%</div>
            </div>
            <input (change)="Discount($event.target.value)" type="number" class="form-control" placeholder="Discount"
              title="Discount">
          </div>
        </div>

        <div class="col-auto">
          <label class="sr-only" for="inlineFormInputGroup">Cost</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">%</div>
            </div>
            <input readonly type="text" class="form-control" placeholder="Cost" name="cost" title="Cost"
              [(ngModel)]="TotalCost">
          </div>
        </div>
      </div>


      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary" awPreviousStep>Previous Step</button>
        <button type="submit" class="btn btn-primary" [disabled]="this.selectedPersons.length == 0">Finish</button>
      </div>
    </form>
  </aw-wizard-step>
</aw-wizard>
